/**/

* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	color: #ecf0f1;
}

html {
	height: calc(var(--vh, 1vh) * 100);
	background-color: #ecf0f1;
}

ul {
	height: 100%;
}

body {
	height: 100%;
	max-width: 1500px;
	margin: auto;
	background-color: white;
	overflow-x: hidden;
}

nav {
	height: 15%;
	z-index: 10000000;
	background-color: rgb(20,125,220);
}

main {
	height: 70%;
}

footer {
	height: 15%;
	z-index: 10000000;
	background-color: rgb(140,180,80);
}

.block {
	position: absolute;
	background-color: rgba(52, 152, 219, 0.3);
	z-index: 10000000000000000000;
}

@keyframes movingBlocks {
    from 	{left: -40%;}
    to 		{left: 140%;}
}

#block1 {
	height: 50px;
	width: 50px;
	top: 20%;
	animation: movingBlocks 30s ease infinite;
}

#block2 {
	height: 80px;
	width: 80px;
	top: 35%;
	animation: movingBlocks 10s ease infinite;
}

#block3 {
	height: 40px;
	width: 40px;
	top: 50%;
	animation: movingBlocks 15s ease infinite;
}

#block4 {
	height: 70px;
	width: 70px;
	top: 60%;
	animation: movingBlocks 40s ease infinite;
}

#block5 {
	height: 45px;
	width: 45px;
	top: 75%;
	animation: movingBlocks 9s ease infinite;
}

#welcomeContainer {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#FMlogo {
	margin: auto;
	max-height: 80%;
	max-width: 80%;
	z-index: 1000000;
}

.navImg {
	width: 100%;
	height: 100%;
	opacity: 0;
}

.logo {
	height: 60%;
	max-height: 85px;
	max-width: 85px;
	margin: auto;
	transition: transform 0.2s;
	cursor: pointer;
}

.logo:hover {
	transform: translateX(8px);
}

#navContainer,
#footerContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.imageContainer {
	display: block;
	height: 100%;
	width: 20%;
	min-width: 160px;
	text-align: center;
	cursor: pointer;
}


.navItem {
	background-color: rgb(20,125,220);
	color: #ecf0f1;
	font-weight: 600;
}

.navItem,
.footerItem {
	list-style-type: none;
	height: 100%;
	width: 20%;
	min-width: 160px;
	text-align: center;
	transition: background-color 0.2s;
	cursor: pointer;
	user-select: none;
}

.footerItem {
	display: flex;
	justify-content: center;
}

a {
	display: flex;
}

.navItem:before,
.footerItem:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#hamburger {
	display: none;
	cursor: pointer;
}

#hamburgerIcon {
	margin: auto;
	max-height: 45px;
	max-width: 45px;
	margin-right: 20px;
	z-index: 1000000;
}

.transition {
	transition: all 0.5s;
}

@media only screen and (max-width: 820px) {

	nav {
		position: relative;
	}

	.imageContainer {
		display: none;
	}

	#navContainer {
		display: block;
		width: 100%;
		height: 50%;
		position: absolute;
		top: -225%;
	}

	.navItem {
		width: 100%;
		height: 150%;
		margin-top: -2px;
	}

	.navItem:nth-child(4) {
		height: calc(150% + 8px);
	}

	#hamburger {
		display: flex;
		height: 200%;
	}

	#hamburger h1 {
		margin-left: 20px;
		color: #ecf0f1;
		font-size: 16px;
	}

	#hamburger h1:before {
		content: "";
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}
}

@media only screen and (max-width: 640px) {

	.footerItem {
		min-width: 80px;
	}

	.logo {
		max-width: 45px;
		max-height: 45px;
	}
}

@media screen and (orientation: landscape) {
  
  	body {
	    min-height: 500px;
	  }

  	.logo {
		max-width: 45px;
		max-height: 45px;
	}
}

@media only screen and (min-width: 820px) {

	.navItem:hover {
		background-color: rgb(0,105,200);
	}

	.logo {
		max-width: 85px;
		max-height: 85px;
	}
}


/* ==================== BEJELENTŐ FORM ==================== */


#issueForm {
	width: 100%;
	text-align: center;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto;
}

#selectContainerOn,
#selectContainerOff {
	display: none;
	cursor: pointer;
}

#selectContainer {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 15%;
	justify-content: center;
	margin: 0;
}

.selectItem {
	display: none;
}

.selectShell {
	width: calc(100% / 3);
	height: 50%;
	background-color: rgb(140,180,80);
	cursor: pointer;
	transition: background-color 0.2s;
	user-select: none;
}

.selectShell p {
	height: 100%;
	width: 100%;
	color: #ecf0f1;
}

.selectShell:hover {
	background-color: rgb(120,160,60);
}

.optionShell:before,
p:before {
  	content: "";
  	display: inline-block;
  	height: 100%;
  	vertical-align: middle;
}


.optionShell {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: rgb(140,180,80);
	transition: background-color 0.2s;
	user-select: none;
	color: #ecf0f1;
}

.optionShell:hover {
	background-color: rgb(120,160,60);
}

textarea {
	width: 80%;
	height: 30%;
	border-radius: 5px;
	resize: none;
	border: 1px solid #2c3e50;
	margin: 35px 0 15px 0;
	padding: 10px;
	background-color: rgba(52, 152, 219,0.2);
	font-size: 20px;
	color: black;
}

textarea:focus {
    outline: 0;
}

#ratings {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 40%;
	min-width: 300px;
	padding: 0 10px;
}

.radioInputSpan {
	display: block;
	height:35px;
	width: 35px;
	margin: 4px;
	background-color: rgba(52, 152, 219,0.2);
	border-radius: 50%;
	border: 1px solid #2c3e50;
	transition: all 0.2s;
}

.radioInput {
	display: block;
	height: 35px;
	width: 35px;
	border-radius: 50%;
	cursor: pointer;
	margin: 0;
	padding: 0;
	opacity: 0;
}

.radioInputSpanBackground,
.radioInputSpan:hover {
	background-color: rgb(20,125,220);
	border: 1px solid #3498db;
}

#ratingSign {
	color: #2c3e50;
	font-size: 20px;
	width: 100%;
	margin: 0 0 35px 0;
}

#submitButton {
	border: none;
	text-decoration: none; 
	cursor: pointer;
	background-color: rgb(20,125,220);
	color: #ecf0f1;
	width: 215px;
	height: 37px;
	margin-top: 5px;
	border-radius: 2px;
	transition: background-color 0.2s, color 0.2s;
	box-shadow: 0 5px #b9b9b9;
	font-size: 16px;
	font-weight: 600;
}

#submitButtonShell {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 40%;
	min-width: 300px;
	padding: 0 10px;
}

#submitButton:hover {
	background-color: rgb(0,105,200);
}

#submitButton:active {
	box-shadow: 0 2px #666;
	transform: translateY(4px);
}

@media only screen and (max-width: 820px) {

	nav {
		background-color: white;
	}

	#selectContainerOn {
		display: block;
		width: 215px;
		height: 37px;
		margin-top: 40px;
		background-color: rgb(20,125,220);
		box-shadow: 0 5px #b9b9b9;
		border-radius: 2px;
		user-select: none;
	}

	#selectContainerOn:hover {
		background-color: rgb(0,105,200);
	}

	#selectContainerOn:active {
		box-shadow: 0 2px #666;
		transform: translateY(4px);
	}

	#selectContainerOff {
		display: block;
		width: 100%;
		height: 80px;
		background-color: rgb(140,180,80);
		border-radius: 0 0 10px 10px;
		user-select: none;
	}

	#selectContainerOff:before {
	  content: "";
	  display: inline-block;
	  height: 100%;
	  vertical-align: middle;
	}

	#selectContainer {
		position: absolute;
		top: -100%;
		z-index: 10000001;
		background-color: rgb(140,180,80);
		width: 100%;
		height: 60%;
		padding: 0;
	}

	.selectShell {
		width: 100%;
		height: calc(100% / 6);
	}

	#submitButtonShell,
	#ratings {
		height: 50px;
	}

	#ratingSign {
		margin-bottom: 0;
		font-size: 16px;
	}

	textarea {
		margin: 0;
		font-size: 16px;
	}
}

@media only screen and (max-width: 639px) {

	#selectContainerOn {
		margin-top: 30px;
	}
}

@media only screen and (max-width: 580px) {

	#selectContainer {
		height: 60%;
	}
}

/* ==================== BEJELENTÉSEK ==================== */

#filterContainer {
	width: 100%;
	height: 20%;
	display: flex;
	justify-content: flex-start;
}

#filter {
	margin: auto 20px;
	border: none;
	text-decoration: none; 
	cursor: pointer;
	background-color: rgb(20,125,220);
	color: #ecf0f1;
	width: 215px;
	height: 37px;
	border-radius: 2px;
	transition: background-color 0.2s;
	box-shadow: 0 5px #b9b9b9;
	font-size: 16px;
	text-align: center;
	user-select: none;
	font-weight: 600;
}

#filter:before {
	height: 100%;
	content: "";
	display: inline-block;
	vertical-align: middle;
}

#issueContainer {
	border-top: 1px solid #2c3e50; 
	width: 100%;
	height: calc(80% - 1px);
	justify-content: center;
	overflow-y: scroll;
}

.issue {
	margin: 8px auto 0 auto;
	border-radius: 2px;
	width: 80%;
	height: 90px;
	text-align: center;
	cursor: pointer;
	transition: transform 0.2s;
	user-select: none;
}

.issue:hover {
	transform: translateX(8px);
}

.issue h3 {
	height: 100%;
	font-weight: 500;
}

.issue h3:before {
	height: 100%;
	content: "";
	display: inline-block;
	vertical-align: middle;
}

#issuePanel {
	position: absolute;
	width: calc(100% - 40px);
	max-width: 1460px;
	height: calc(var(--vh, 1vh) * 100 - 40px);
	padding: 20px;
	background-color: rgb(20,125,220);
	top: -225%;
	z-index: 10000002;
}

#issueData {
	overflow-y: scroll;
	height: calc(100% - 50px);
	width: 100%;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
#issueData::-webkit-scrollbar,
#issueContainer::-webkit-scrollbar { 
    display: none; 
}

#issueData h3 {
	margin-top: 8px;
}

#closeIssuePanel {
	position: relative;
	bottom: 0;
	width: 100%;
	height: 50px;
	text-align: center;
	cursor: pointer;
	background-color: rgb(20,125,220);
}

#closeIssuePanel:before {
	height: 100%;
	content: "";
	display: inline-block;
	vertical-align: bottom;
}

#issueData h4 {
	font-weight: 500;
}

#issueData h3 {
	margin-bottom: 15px;
	text-align: justify;
}

@media only screen and (min-width: 820px) {

	#filter:hover {
		background-color: rgb(0,105,200);
		color: #ecf0f1;
	}
}

@media only screen and (max-width: 820px) {

	.issue {
		height: 60px;
		font-size: 14px;
		width: 95%;
	}
}


/* ==================== JELSZÓ MÓDOSÍTÁS ==================== */

#notSoPrettyDiv {
	width: 100%;
	height: 25%;
}

#passwordForm {
	width: 50%;
	height: 50%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto;
}

.input {
	height: 25px;
	padding: 5px;
	margin: auto;
	border-radius: 5px;
	width: 100%;
	border: 1px solid #2c3e50;
	background-color: rgba(52, 152, 219,0.2);
	font-size: 18px;
	color: black;
}

input:focus{
    outline: 0;
}

.submit {
	border: none;
	text-decoration: none; 
	cursor: pointer;
	background-color: rgb(20,125,220);
	color: #ecf0f1;
	width: 215px;
	height: 37px;
	margin-top: 5px;
	border-radius: 2px;
	transition: background-color 0.2s;
	box-shadow: 0 5px #b9b9b9;
	font-size: 16px;
	font-weight: 600;
	margin-top: 40px;
}

.submit:hover {
	background-color: rgb(0,105,200);
}

.submit:active {
	box-shadow: 0 2px #666;
	transform: translateY(4px);
}

@media only screen and (max-width: 820px) {

	#notSoPrettyDiv {
		height: 15%;
	}

	#passwordForm {
		height: 70%;
		width: 80%;
	}

	.input {
		font-size: 16px;
	}
}