<!-- 

	*************************************** BEJELENTŐ FORM ******************************* 

-->

<template id="form">
    <form action="" id="issueForm">
    	<div id="selectContainerOn" class="navItem">Bejelentés adatai</div>
    	<div id="selectContainer">
    	</div>
    	<textarea type="text" name="issue" placeholder="Kérem írja le a tapasztalt hibát.."></textarea><br>
		<div id="ratings">
            <span id="1p" class="radioInputSpan">
              	<input name='rating' class="radioInput" type="radio" value="1" name="radioButton" onchange="ratingTracker(this)">
            </span>
            <span id="2p" class="radioInputSpan">
              	<input name='rating' class="radioInput" type="radio" value="2" name="radioButton" onchange="ratingTracker(this)">
            </span>
            <span id="3p" class="radioInputSpan">
              	<input name='rating' class="radioInput" type="radio" value="3" name="radioButton" onchange="ratingTracker(this)">
            </span>
            <span id="4p" class="radioInputSpan">
              	<input name='rating' class="radioInput" type="radio" value="4" name="radioButton" onchange="ratingTracker(this)">
            </span>
            <span id="5p" class="radioInputSpan">
              	<input name='rating' class="radioInput" type="radio" value="5" name="radioButton" onchange="ratingTracker(this)">
            </span>
            <p id="ratingSign">Kérem értékelje szolgáltatásunkat!</p>
        </div>
 		<div id="submitButtonShell">
	        <input type="submit" value="Beküldés" id="submitButton">
	    </div>
    </form>
</template>

<!-- 

	***************************************** BEJELENTÉSEK ********************************** 

-->

<template id="issues">
	<div id="filterContainer">
		<div id="filter">Folyamatban</div>
	</div>
	<div id="issueContainer">
		<div id="issuePanel">
			<div id="issueData">
			</div>
			<div id="closeIssuePanel">
			</div>
		</div>
	</div>
	</div>
</template>

<!-- 

	********************************** JELSZÓ MÓDOSÍTÁSI FELÜLET **************************** 

-->

<template id="password">
	<div id="notSoPrettyDiv"></div>
	<form id="passwordForm" action="">
		<input class="input" type="text" placeholder="Felhasználónév"></input>
		<input class="input" type="text" placeholder="Új jelszó"></input>
		<input class="input" type="text" placeholder="Új jelszó mégegyszer"></input><br>
		<input class="submit" type="submit" value="Módosítás">
	</form>
</template>