<!-- 

	******************** BEJELENTŐ FORM ******************** 

-->

<template id="form">
    <form action="">
    	<div id="selectContainerOn" class="navItem">BEJELENTÉS ADATOK</div>
    	<div id="selectContainer">
    		<div class="selectShell">
		    	<select class="selectItem">        
		            <option value="Objektum"></option>
		    	</select>
	    	</div>
    		<div class="selectShell">
		    	<select class="selectItem">       
		            <option value="Ingatlan"></option>
		    	</select>
	    	</div>
    		<div class="selectShell">
		    	<select class="selectItem">        
		            <option value="Szakterület"></option>
		    	</select>
		    </div>
    		<div class="selectShell">
		    	<select class="selectItem">         
		            <option value="Tipus"></option>
		    	</select>
		    </div>
    		<div class="selectShell">
		    	<select class="selectItem">         
		            <option value="Besorolás"></option>
		    	</select>
		    </div>
    		<div class="selectShell">
		    	<select class="selectItem">         
		            <option value="SLA"></option>
		    	</select>
		    </div>
		    <div id="selectContainerOff">VISSZA</div>
    	</div>
    	<textarea type="text" name="issue"></textarea><br>
		<div id="ratings">
            <span id="1p" class="radioInputSpan">
              	<input name='rating' class="radioInput" type="radio" value="1" name="radioButton" onchange="ratingTracker(this)">
            </span>
            <span id="2p" class="radioInputSpan">
              	<input name='rating' class="radioInput" type="radio" value="2" name="radioButton" onchange="ratingTracker(this)">
            </span>
            <span id="3p" class="radioInputSpan">
              	<input name='rating' class="radioInput" type="radio" value="3" name="radioButton" onchange="ratingTracker(this)">
            </span>
            <span id="4p" class="radioInputSpan">
              	<input name='rating' class="radioInput" type="radio" value="4" name="radioButton" onchange="ratingTracker(this)">
            </span>
            <span id="5p" class="radioInputSpan">
              	<input name='rating' class="radioInput" type="radio" value="5" name="radioButton" onchange="ratingTracker(this)">
            </span>
            <p id="ratingSign">Kérem értékelje szolgáltatásunkat!</p>
        </div>
 		<div id="submitButtonShell">
	        <input type="submit" value="Beküldés" id="submitButton">
	    </div>
    </form>
</template>

<!-- 

	******************** BEJELENTÉSEK ******************** 

-->


<template id="issues">
	
</template>



<!-- 

	******************** JELSZÓ MÓDOSÍTÁSI FELÜLET ******************** 

-->

<template id="password">
	
</template>