img {
    width: 50%;
    padding: 30px;
}

hr { 
  height: 30px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
} 
hr:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}

h1 {
    text-align: center;
    color: white;
}

p {
    color: white;
    width: 60%;
    margin: auto;
    text-align: justify;
}